p{
	background-color: red;
	height: 350px;
}
h1{
	text-align: center;
}
.a-head{
	background-color: yellow;
}
.bangla{
	background-color: blue;
}
.English{
	background-color: pink;
}
.akash{
	background-color: red;
}
.a-footer{
	background-color: green;
}
#alamin{
	margin-left: 700px;
}